body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f7f4;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

/* BEGIN OF HEADER SECTION */

header {
  background-color: #e5deda;
  padding-top: 30px;
  padding-bottom: 30px;
}

header h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #af2858;
  margin: 0;
}

header p {
  margin-top: 0;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}

.colored-word {
  color: #af2858;
}

.about-me-section {
  margin: 30px 0 0 0;
  padding: 0 0 0 100px;
}

.about-me-center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-2-columns-about-me {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

/* Extend image beyond container dimensions */

.image-wrapper {
  overflow: visible; /* allows the image to extend beyond the dimensions of the container */
  position: relative; /* necessary for absolute positioning */
  width: 400px; /* image width */
  height: 300px; /* image height */
}

.img-geisa-lopes {
  max-width: 400px;
  border-radius: 42% 58% 61% 39% / 77% 44% 56% 23%;
  height: auto; /* mantém a proporção original da imagem */
  position: absolute; /* posicionamento absoluto em relação ao contêiner pai */
  top: -20px; /* move a imagem para cima para estender além do contêiner pai */
}

/* Return the image to the default layout, without floating over the container. First, erase the two styles above.

 header .img-geisa-lopes {
  max-width: 400px;
  border-radius: 42% 58% 61% 39% / 77% 44% 56% 23%;
} */

/* END OF THE HEADER SECTION */

/* GENERAL GRID USED FOR ALL GRIDS ON THE PAGE */
.grid {
  display: grid;
  grid-gap: 64px;
}
/* GENERAL GRID USED FOR ALL GRIDS ON THE PAGE */

/* BEGIN OF MY PUTER PROJECTS SECTION */
.my-projects-section h2 {
  margin: 100px 0 30px 100px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
  color: #af2858;
}

.my-projects-section p {
  font-weight: normal;
  margin: 0 200px 70px 100px;
  font-size: 20px;
  line-height: 1.5;
  color: black;
}

a.puter-website {
  color: #15aabf;
  text-decoration: none;
}

a.puter-website:hover {
  color: #15abbf87;
  text-decoration: none;
}

/* Create a line below the text using ::after*/
.my-projects-section p::after {
  content: "";
  display: block;
  width: 8%;
  height: 3px;
  background-color: black;
  margin-top: 30px;
}

.grid-2-columns-my-projects {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

.grid-item {
  text-align: center;
}

/* .grid-item-weather {
  margin-left: 100px;
}

.grid-item-wordbook {
  margin-right: 100px;
} */

.grid-projects img {
  margin: 0 auto;
  display: block;
  max-width: 450px;
  height: auto;
}

.my-projects-section h3 {
  font-weight: 500;
  text-align: center;
  font-size: 22px;
}
.project-title {
  text-decoration: none;
  color: black;
}

.project-title:hover {
  text-decoration: none;
  color: #af2858;
}
/* END OF THE PUTER PROJECT SECTION */

/* BEGIN OF THE CERTIFICATIONS SECTION - NOT FINISHED YET*/
.certifications-section {
  background-color: #e5deda;
  padding-bottom: 100px;
}

.certifications-section h2 {
  margin: 40px 0 70px 100px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
  color: #af2858;
}

.certifications-section h2::after {
  content: "";
  display: block;
  width: 8%;
  height: 3px;
  background-color: black;
  margin-top: 30px;
}

.grid-3-columns-my-certifications {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
}

.grid-item {
  text-align: center;
}

.grid-certifications img {
  margin: 0 auto;
  display: block;
  max-width: 300px;
  height: auto;
}

.grid-4-columns-my-skills {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
}

.my-profile-skills-visual {
  max-width: 100px;
  background: #faf9f7;
  border: 1px solid rgba(39, 33, 66, 0.1);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  margin: 0 8px;
  justify-content: center;
}

.my-profile-skills-visual img {
  max-width: 100%;
  display: block;
  margin: auto;
}
/* END OF THE CERTIFICATIONS SECTION */

/* BEGIN OF THE FOOTER SECTION */
footer {
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-image: linear-gradient(
      rgba(249, 247, 244, 0.92),
      rgba(249, 247, 244, 0.9)
    ),
    url("./images/leaves.jpg");
  background-size: 500px;
  background-position-y: bottom;
}

footer h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

footer p {
  color: #a14867;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #c06f8c;
}

.back-home-container a {
  background: #15aabf;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.forward-section a:hover {
  opacity: 0.7;
  transition: all 180ms ease-in-out;
}

.grid-4-columns-footer {
  grid-template-columns: auto 800px auto auto;
  grid-gap: 0;
}

.footer-section li {
  list-style: none;
  padding: 0;
  margin-right: 40px;
  font-size: 30px;
  display: inline;
}

.footer-section .shecodes-icon {
  margin-right: 0;
}

.footer-section ul {
  margin-left: 40px;
  padding: 0;
}

.footer-section p {
  text-align: left;
  padding-top: 5px;
  font-size: 18px;
}

.footer-section a {
  text-decoration: none;
  color: #15aabf;
}

.footer-section h3 {
  color: #15aabf;
  padding-top: 5px;
  display: flex;
  justify-content: right;
  font-size: 18px;
}

.footer-section h2 {
  margin-left: 30px;
  text-align: center;
}

/* END OF THE FOOTER SECTION */

/* MEDIA QUERY */
@media (max-width: 960px) {
  header {
    padding-bottom: 0;
  }
  header h1 {
    font-size: 36px;
    text-align: center;
  }

  header p {
    font-size: 16px;
    text-align: center;
  }

  .about-me-section {
    margin-top: 0;
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: center; /* align vertically */
    flex-direction: column; /* ensures that items are stacked vertically */
    padding: 0;
  }

  .about-me-center-image {
    padding: 20px 0;
  }

  .about-me-section h1 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 16px 0;
  }

  .about-me-section p {
    font-size: 14px;
    text-align: justify;
  }

  .back-home-container a {
    margin: 20px auto;
    font-size: 12px;
    padding: 10px 22px;
  }

  .grid-2-columns-about-me {
    display: block;
    padding-bottom: 0;
  }

  .grid-2-columns-about-me > * {
    width: 100%;
  }

  .img-geisa-lopes {
    max-width: 70%;
    position: relative;
    margin: 0 auto;
    display: block;
  }

  .my-projects-section h2 {
    margin: 0 0 16px 0;
    font-size: 30px;
    text-align: center;
  }

  .my-projects-section p {
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }

  .my-projects-section p::after {
    content: none;
  }

  .grid-2-columns-my-projects {
    grid-gap: 24px;
  }

  .grid-projects img {
    max-width: 100%;
    margin-top: 30px;
  }

  .grid-3-columns-my-certifications {
    grid-gap: 20px;
  }

  .grid-certifications img {
    max-width: 100%;
  }

  .certification-img img {
    max-width: 100%;
    margin-top: 30px;
  }

  .my-projects-section h3 {
    margin-bottom: 0;
    font-size: 18px;
    text-align: center;
  }

  .certifications-section {
    padding-bottom: 50px;
  }

  .certifications-section h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
  }

  .certifications-section h2::after {
    content: none;
  }

  .footer-section p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  .footer-section h3 {
    padding: 0;
    font-size: 16px;
    margin: 0 auto;
  }

  .footer-section h2 {
    display: none;
  }

  .footer-section ul {
    margin: 0 auto;
    padding: 0;
  }

  .grid-4-columns-footer {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  /* section {
    padding: 30px 0;
  } */
}

/* OLD MEDIA QUERY */
/* @media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px 0;
  }
} */
