body {
  background-color: #f9f7f4;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px;
}

/* BEGIN OF THE MAIN SECTION */
main {
  background-color: #f9f7f4;
}

main h2 {
  color: #a14867;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main p {
  color: black;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 8px;
}
/* END OF THE MAIN SECTION */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

/* BEGIN OF THE NAV BAR */
nav {
  background-color: #f9f7f4;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link-left {
  padding-left: 70px;
}

.nav-link-left a {
  color: black;
}

.nav-link-left a:hover {
  color: #15aabf;
}

.nav-link-right {
  display: flex;
  margin-left: auto;
  padding-right: 70px;
}

.nav-link-right a {
  color: #15aabf;
}

.nav-link-right a:hover {
  color: #af2858;
}

.nav-link-right li {
  margin-left: 20px;
}

/* END OF THE NAV BAR */

/* BEGIN OF HEADER SECTION */

header {
  background-color: #e5deda;
  padding-bottom: 30px;
  padding-top: 30px;
}

header h1 {
  color: #af2858;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

header p {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  text-align: left;
}

.colored-word {
  color: #af2858;
}

.about-me-section {
  margin: 30px 0 0 0;
  padding: 0 0 0 100px;
}

.about-me-center-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid-2-columns-about-me {
  grid-gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

/* Extend image beyond container dimensions */

.image-wrapper {
  height: 300px;
  overflow: visible;
  position: relative;
  width: 400px;
  /* allows the image to extend beyond the dimensions of the container */
  /* necessary for absolute positioning */
  /* image width */
  /* image height */
}

.img-geisa-lopes {
  border-radius: 42% 58% 61% 39% / 77% 44% 56% 23%;
  height: auto;
  max-width: 400px;
  position: absolute;
  top: -20px;

  /* mantém a proporção original da imagem */
  /* posicionamento absoluto em relação ao contêiner pai */
  /* move a imagem para cima para estender além do contêiner pai */
}

/* Return the image to the default layout, without floating over the container. First, erase the two styles above.

 header .img-geisa-lopes {
  border-radius: 42% 58% 61% 39% / 77% 44% 56% 23%;
  max-width: 400px;
} */

/* END OF THE HEADER SECTION */

/* GENERAL GRID USED FOR ALL GRIDS ON THE PAGE */
.grid {
  display: grid;
  grid-gap: 64px;
}
/* GENERAL GRID USED FOR ALL GRIDS ON THE PAGE */

/* BEGIN OF MY PUTER PROJECTS SECTION */
.my-projects-section h2 {
  color: #af2858;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
  margin: 100px 0 30px 100px;
}

.my-projects-section p {
  color: black;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 200px 70px 100px;
}

a.puter-website {
  color: #15aabf;
  text-decoration: none;
}

a.puter-website:hover {
  color: #15abbf87;
  text-decoration: none;
}

/* Create a line below the text using ::after*/
.my-projects-section p::after {
  background-color: black;
  content: "";
  display: block;
  height: 3px;
  margin-top: 30px;
  width: 8%;
}

.grid-2-columns-my-projects {
  grid-gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  text-align: center;
}

/* .grid-item-weather {
  margin-left: 100px;
}

.grid-item-wordbook {
  margin-right: 100px;
} */

.grid-projects img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 450px;
}

.my-projects-section h3 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.project-title {
  color: black;
  text-decoration: none;
}

.project-title:hover {
  color: #af2858;
  text-decoration: none;
}
/* END OF THE PUTER PROJECT SECTION */

/* BEGIN OF THE CERTIFICATIONS SECTION - NOT FINISHED YET*/
.certifications-section {
  background-color: #f0eae7;
  padding-bottom: 100px;
}

.certifications-section h2 {
  color: #af2858;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5;
  margin: 40px 0 70px 100px;
}

.certifications-section h2::after {
  background-color: black;
  content: "";
  display: block;
  height: 3px;
  margin-top: 30px;
  width: 8%;
}

.grid-3-columns-my-certifications {
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  text-align: center;
}

.grid-certifications img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 300px;
}

.grid-4-columns-my-skills {
  grid-gap: 0;
  grid-template-columns: repeat(4, 1fr);
}

.my-profile-skills-visual {
  aspect-ratio: 1 / 1;
  background: #faf9f7;
  border: 1px solid rgba(39, 33, 66, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 8px;
  max-width: 100px;
}

.my-profile-skills-visual img {
  display: block;
  margin: auto;
  max-width: 100%;
}
/* END OF THE CERTIFICATIONS SECTION */

/* BEGIN OF THE PERSONAL SECTION */
.grid-2-columns-jogging {
  background-color: #e5deda;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}

.jogging-container {
  padding-top: 50px;
}

.jogging-container h2 {
  margin-left: 100px;
}

.jogging-container p {
  margin-left: 100px;
}

.jogging-center-image {
  margin: 30px 70px 0 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-geisa-jogging {
  max-width: 350px;
  transition: all 180ms ease-in-out;
}

/* END OF THE ABOUT SECTION */

/* BEGIN OF THE FOOTER SECTION */
footer {
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px;
  /*  */
  background-image: linear-gradient(
      rgba(249, 247, 244, 0.92),
      rgba(249, 247, 244, 0.9)
    ),
    url("./images/leaves.jpg");
}

footer h3 {
  color: #15aabf;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: right;
  line-height: 1.5;
  padding-top: 5px;
}

footer p {
  color: #a14867;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #c06f8c;
}

.back-home-button a {
  background: #15aabf;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.forward-section a:hover {
  opacity: 0.7;
  transition: all 180ms ease-in-out;
}

.grid-4-columns-footer {
  grid-gap: 0;
  grid-template-columns: auto 800px auto auto;
}

.footer-section li {
  display: inline;
  font-size: 30px;
  list-style: none;
  margin-right: 40px;
  padding: 0;
}

.footer-section .shecodes-icon {
  margin-right: 0;
}

.footer-section ul {
  margin-left: 40px;
  padding: 0;
}

.footer-section p {
  font-size: 18px;
  padding-top: 5px;
  text-align: left;
}

.footer-section a {
  color: #15aabf;
  text-decoration: none;
}

.footer-section h3 {
  color: #15aabf;
  display: flex;
  font-size: 20px;
  justify-content: right;
  padding-top: 5px;
}

.footer-section h2 {
  margin-left: 30px;
  text-align: center;
}

/* END OF THE FOOTER SECTION */

/* MEDIA QUERY */
@media (max-width: 960px) {
  header {
    padding-bottom: 0;
  }
  header h1 {
    font-size: 36px;
    text-align: center;
  }

  header p {
    font-size: 16px;
    text-align: center;
  }

  .about-me-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    padding: 0;

    /* align horizontally */
    /* align vertically */
    /* ensures that items are stacked vertically */
  }

  .about-me-section h1 {
    font-size: 32px;
    margin: 0 0 16px 0;
    text-align: center;
  }

  .about-me-section p {
    font-size: 14px;
    margin: 0 10px;
    padding: 0 10px;
    text-align: justify;
  }

  .about-me-center-image {
    padding: 20px 0;
  }

  .back-home-button a {
    font-size: 12px;
    margin: 50px auto;
    padding: 10px 22px;
  }

  .grid-2-columns-about-me {
    display: block;
    padding-bottom: 0;
  }

  .img-geisa-lopes {
    display: block;
    margin: 0 auto;
    max-width: 65%;
    position: relative;
  }

  .my-projects-section h2 {
    font-size: 30px;
    margin: 0 0 16px 0;
    text-align: center;
  }

  .my-projects-section h3 {
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
  }

  .my-projects-section p {
    font-size: 16px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }

  .my-projects-section p::after {
    content: none;
  }

  .grid-projects img {
    margin-top: 30px;
    max-width: 70%;
  }

  .grid-certifications img {
    margin-top: 30px;
    max-width: 70%;
  }

  .certifications-section {
    padding-bottom: 50px;
  }

  .certifications-section h2 {
    font-size: 30px;
    margin: 0 0 20px 0;
    text-align: center;
  }

  .certifications-section h2::after {
    content: none;
  }

  .footer-section p {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
  }

  .footer-section h2 {
    display: none;
  }

  .footer-section ul {
    margin: 0 auto;
    padding: 0;
  }

  .grid-4-columns-footer {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px 0;
  }

  nav {
    padding: 10px 0;
  }

  .nav-link-left {
    font-size: 12px;
    margin-left: 5px;
    padding-left: 0;
  }

  .nav-link-right {
    font-size: 12px;
    margin-right: 5px;
    padding-right: 0;
  }

  .nav-link-right li {
    margin-left: 10px;
  }
}
