body {
  background-color: #f9f7f4;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px;
}

.grid {
  display: grid;
  grid-gap: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

/* The main here involves the 2-column grid div, so you can change its color and size, separate from the grid */
main {
  background-color: #e5deda;
  padding: 40px 0;
}

/* BEGIN OF THE NAV BAR */
nav {
  background-color: #f9f7f4;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link-left {
  padding-left: 70px;
}

.nav-link-left a {
  color: black;
}

.nav-link-left a:hover {
  color: #15aabf;
}

.nav-link-right {
  display: flex;
  margin-left: auto;
  padding-right: 70px;
}

.nav-link-right a {
  color: #15aabf;
}

.nav-link-right a:hover {
  color: #af2858;
}

.nav-link-right li {
  margin-left: 20px;
}
/* END OF THE NAV BAR */

/* BEGIN OF THE FORM SECTION */
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  margin: 0 100px;
}

.grid .contact-message {
  padding: 100px 70px 50px 0;
  margin: 50px 10px 50px 50px;
}

.grid .contact-message h1 {
  color: #af2858;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

.grid .contact-message p {
  font-size: 19px;
  font-weight: normal;
  margin-top: 0;
  text-align: left;
}

.grid .contact-message a {
  color: #af2858;
}

.grid .contact-form {
  padding: 50px;
  margin: 50px 50px 50px 10px;
  background-color: #f9f7f4;
}

form {
  display: grid;
  justify-content: center;
}

/* div that surrounds the input and label */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  color: #15aabf;
  font-size: 18px;
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #15aabf;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button[type="submit"]:hover {
  background-color: #15abbfbc;
  transition: all 0.25s ease-in-out;
}

/* BEGIN OF THE FORM SECTION */

/* BEGIN OF THE FOOTER SECTION */
footer {
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px;

  /*  */
  background-image: linear-gradient(
      rgba(249, 247, 244, 0.92),
      rgba(249, 247, 244, 0.9)
    ),
    url("./images/leaves.jpg");
}

.grid-4-columns-footer {
  grid-gap: 0;
  grid-template-columns: auto 800px auto auto;
}

footer p {
  color: #a14867;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  opacity: 0.7;
  padding-top: 5px;
  text-align: left;
}

footer h3 {
  color: #15aabf;
  display: flex;
  font-size: 20px;
  justify-content: right;
  line-height: 1.5;
  padding-top: 5px;
}

footer h2 {
  margin-left: 30px;
  text-align: center;
}

footer ul {
  padding: 0;
  margin-left: 40px;
}

footer li {
  display: inline;
  font-size: 30px;
  list-style: none;
  margin-right: 40px;
  padding: 0;
}

footer a {
  color: #15aabf;
  text-decoration: none;
}

footer .shecodes-icon {
  margin-right: 0;
}
/* END OF THE FOOTER SECTION */

@media (max-width: 960px) {
  body {
    overflow-x: hidden;
  }

  main {
    padding: 10px;
  }

  .grid .contact-message {
    padding: 10px;
    margin: 10px;
  }

  .grid .contact-form {
    padding: 20px;
    margin: 30px;
  }

  .grid .contact-message h1 {
    font-size: 28px;
  }

  .grid .contact-message p {
    font-size: 15px;
  }

  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
    margin: 0;
  }

  nav {
    padding: 15px 0;
  }

  .nav-link-left {
    font-size: 12px;
    margin-left: 15px;
    padding-left: 0;
  }

  .nav-link-right {
    font-size: 12px;
    margin-right: 20px;
    padding-right: 0;
  }

  .nav-link-right li {
    margin-left: 10px;
  }

  footer p {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  footer h3 {
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
  }

  footer h2 {
    display: none;
  }

  footer ul {
    margin: 0 auto;
    padding: 0;
  }

  .grid-4-columns-footer {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px 0;
  }
}
