body {
  background-color: #f9f7f4;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 30px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif;
}

/* BEGIN OF THE NAV BAR */
nav {
  background-color: #f9f7f4;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
}

nav a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link-left {
  padding-left: 70px;
}

.nav-link-left a {
  color: black;
}

.nav-link-left a:hover {
  color: #15aabf;
}

.nav-link-right {
  display: flex;
  margin-left: auto;
  padding-right: 70px;
}

.nav-link-right a {
  color: #15aabf;
}

.nav-link-right a:hover {
  color: #af2858;
}

.nav-link-right li {
  margin-left: 20px;
}
/* END OF THE NAV BAR */

/* BEGIN OF THE HEADER SECTION */
header {
  background-repeat: no-repeat;
  background-size: cover;
  color: #a14867;
  padding: 150px 0;
  text-align: center;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.9)
    ),
    url("./images/leaves.jpg");
}

header h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 1.5;
  margin: 30px 0 0 0;
}

header h2 {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 1;
  margin: 0;
}

header a {
  background: #c06f8c;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 32px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* END OF THE HEADER SECTION */

/* BEGIN OF THE MAIN SECTION */
main {
  background-color: #e5deda;
}

main h2 {
  color: #a14867;
  font-size: 38px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main p {
  color: black;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 8px;
}
/* END OF THE MAIN SECTION */

/* BEGIN OF THE ABOUT SECTION */
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.about-me-container {
  padding: 100px 50px 0 50px;
}

.about-me-container a {
  color: #a14867;
}

.about-me-container a:hover {
  color: #c06f8c;
}

.about-me-center-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-woman-coding {
  border-radius: 50%;
  max-width: 350px;
  transition: all 180ms ease-in-out;
}
.img-woman-coding:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
/* END OF THE ABOUT SECTION */

/* BEGIN OF THE PORTFOLIO SECTION */
.my-portfolio-container {
  background-color: #f9f7f4;
}

.my-portfolio-container h2 {
  margin: 50px 0 0 50px;
}

.my-portfolio-container p {
  margin: 0 0 50px 50px;
}

/* Create a line below the text ::after*/
.my-portfolio-container p::after {
  background-color: black;
  content: "";
  display: block;
  height: 3px;
  margin-top: 30px;
  width: 8%;
}

.grid-3-columns-my-projects {
  grid-gap: 0;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  text-align: center;
}

.project-img {
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
}

.my-portfolio-container h4 {
  font-size: 20px;
  margin-bottom: 50px;
}

.project-title {
  color: black;
  text-decoration: none;
}
.project-title:hover {
  color: #af2858;
  text-decoration: none;
}
/* END OF THE PORTFOLIO SECTION */

/* BEGIN OF THE FORWARD SECTION */
.forward-container {
  margin: 40px;
  text-align: center;
}

.forward-container h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.forward-container h3 {
  color: black;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 200px 50px 200px;
  padding: 0 100px;
}

.forward-container a {
  background: #15aabf;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 5px;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.forward-container a:hover {
  opacity: 0.7;
  transition: all 180ms ease-in-out;
}
/* END OF THE FORWARD SECTION */

/* BEGIN OF THE FOOTER SECTION */
footer {
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 500px;

  /*  */
  background-image: linear-gradient(
      rgba(249, 247, 244, 0.92),
      rgba(249, 247, 244, 0.9)
    ),
    url("./images/leaves.jpg");
}

.grid-4-columns-footer {
  grid-gap: 0;
  grid-template-columns: auto 800px auto auto;
}

footer p {
  color: #a14867;
  margin-top: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  opacity: 0.7;
  padding-top: 5px;
  text-align: left;
}

footer h3 {
  color: #15aabf;
  display: flex;
  font-size: 20px;
  justify-content: right;
  line-height: 1.5;
  padding-top: 5px;
}

footer h2 {
  margin-left: 30px;
  text-align: center;
}

footer ul {
  padding: 0;
  margin-left: 40px;
}

footer li {
  display: inline;
  font-size: 30px;
  list-style: none;
  margin-right: 40px;
  padding: 0;
}

footer a {
  color: #15aabf;
  text-decoration: none;
}

footer .shecodes-icon {
  margin-right: 0;
}
/* END OF THE FOOTER SECTION */

/* MEDIA QUERY */
@media (max-width: 960px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 14px;
  }

  header a {
    font-size: 12px;
    padding: 10px 22px;
  }

  main h2 {
    font-size: 30px;
    text-align: center;
  }

  main h3 {
    font-size: 16px;
    text-align: center;
  }

  main p {
    font-size: 16px;
  }

  .about-me-container {
    padding: 26px;
    text-align: center;
  }

  .about-me-container a {
    font-size: 12px;
  }

  .img-woman-coding {
    max-width: 200px;
  }

  .my-portfolio-container h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
  }

  .my-portfolio-container p {
    margin: 0;
    margin-bottom: 30px;
    padding: 20px 0 30px 0;
    text-align: center;
  }

  .my-portfolio-container p::after {
    content: none;
  }

  .grid-portfolio img {
    max-width: 250px;
  }

  .my-portfolio-container h4 {
    font-size: 14px;
    margin: 10px 0;
  }

  .forward-container h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
  }

  .forward-container p {
    margin: 0;
    padding: 20px 0 30px 0;
    text-align: center;
  }

  .forward-container a {
    font-size: 12px;
    padding: 10px 22px;
  }

  footer p {
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  footer h3 {
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
  }

  footer h2 {
    display: none;
  }

  footer ul {
    margin: 0 auto;
    padding: 0;
  }

  .grid {
    grid-gap: 12px;
    grid-template-columns: 1fr;
  }

  section {
    padding: 30px 0;
  }

  nav {
    padding: 10px 0;
  }

  .nav-link-left {
    font-size: 12px;
    margin-left: 5px;
    padding-left: 0;
  }

  .nav-link-right {
    font-size: 12px;
    margin-right: 5px;
    padding-right: 0;
  }

  .nav-link-right li {
    margin-left: 10px;
  }
}
